/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 27, 2023, 12:46:46 AM
    Author     : myths
*/


.header{
    display:flex;

}
.header-right{
    margin-left: 600px;
}
.header-left{
    padding-left: 50px;
}
.space{
    height: 50px;
    border-bottom: 4px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    padding:15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
    justify-content: space-between;
}
.space-content{
    border-right :1px solid black;
    margin-right: 5px;
}
.space-content-right  a{
    padding:5px;
    background-color: #5cb85c;
}
.space-right {
    display: flex;
    padding:15px;
    align-items: flex-end;
}
.btn-default{
    background-color: #5cb85c;
}
.table{
    width:100%;
    border-collapse: inherit

}
.first-child-tr {
    text-transform: uppercase;
    height: 23px;
    background-color: #6b90da;
    font-weight: normal;
}
.table-row-fix{
    position: relative;
    bottom: 223px;
    border-top: 1px solid #ddd;
}
.header-text{
    width:2%;
    text-transform: uppercase;
    height:auto;
    background-color: #6b90da;
    margin-top: 20px;
}
.header-content{
    width:100%;
    text-align: left;
    padding: 2px;
    text-transform: uppercase;
    height:auto;
    background-color: #fff;
    margin-top: 20px;
}
/* Áp dụng cho hàng đầu tiên của bảng */
table tr:first-child th {
    flex: 1;
    padding: 2px;
    text-transform: uppercase;
    background-color: #6b90da;
    margin-top: 20px;
}

.header-line{
    display:flex;

}
.counter{
    font-size: 30px;
}
.header-line img{
    height: 146px;
    width: 111px;
    border-width: 0px;
}
.square-0{

    height: 30px;
    width: 50px;
    background-color: #5cb85c;
} 
.square-0{

    height: 30px;
    width: 50px;
    background-color: #5cb85c;
} 
.square-1{
    height: 30px;
    width: 50px;
    background-color: #f0d0ce;
} 

.square-2{
    height: 30px;
    width: 50px;
    background-color: #f5af53;
} 
.square-3{
    height: 30px;
    width: 50px;
    background-color: #fc5400;
} 
.square-4{
    height: 30px;
    width: 50px;
    background-color: #7e00fc;
} 
.square-5{
    height: 30px;
    width: 50px;
    background-color:#fc4138;
} 